.audio-game-wrapper{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/img/england-flag.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 40px;
}
.audio-game-header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 5%;
    margin: 0 auto;
}
.fullscreen {
	width: 40px;
	height: 40px;
	border: 0;
	outline: 0;
	background-size: contain;
	transition: 0.3s;
	cursor: pointer;
	background-image: url("../assets/img/fullscreen-open.svg");
}
.fullscreen:hover {
	background-color: $colorPageMain;
    border-radius: 0.40rem;
    transition: 0.3s;
}

.audio-game-close{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
	height: 40px;
	border: 0;
	outline: 0;
    background-color: $colorPageMain;
    text-decoration: none;
    font-weight: 600;
    border-radius: 25px;
}
.audio-game-close_span{
    font-family: $textFont;
    color: $colorFont;
    font-size: 2rem;
}
.audio-game-header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio-game-select{
    width: 100px;
	height: 40px;
    margin-right: 10px;
    font-family: $textFont;
    color: $colorFont;
    font-size: 1.4rem;
    background-color: $colorPageMain;
    cursor: pointer;
}
.audio-game-start-window{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 350px;
    height: 300px;
    padding-top: 20px;
    border-radius: 0.25rem;
    background-color: rgb(63, 63, 63, 0.9);
    H2, p {
        color: #fff;
    }
    p{
        font-family: $textFont;
        font-size: 1.4rem;
    }
    .audio-game-start-button{
        font-family: $headerFont;
        font-size: 2rem;
        background-color: $colorPageMain;
        border-radius: 0.25rem;
        outline: none;
        cursor: pointer;
        border: none;
    }
}